AIRFLOW_UID=50000
BOMBEROS_DB_HOST=postgres
BOMBEROS_DB_PORT=5432
BOMBEROS_DB_NAME=bomberos_db
BOMBEROS_DB_USER=
BOMBEROS_DB_PASSWORD=
SGNORTE_URL=https://sgonorte.bomberosperu.gob.pe/24horas
BOMBEROS_BRONZE_PATH=/opt/airflow/data/bronze/accidentes
BOMBEROS_TMP_DIR=/opt/airflow/data/tmp
